{
  "useTabs": false,
  "printWidth": 240,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "parser": "babel",
  "noSemi": false,
  "rcVerbose": true,
  "semi": false
}
